# Server Configuration
PORT=5005
NODE_ENV=development

# Database
MONGODB_URI=your_mongodb_uri

# Secrets
JWT_SECRET=your_jwt_secret
ADMIN_REGISTRATION_KEY=your_secret_admin_key_for_registering_new_admins

# Referral
MASTER_USER_REFERRAL_CODE=MAS123456

# Cloudinary (for file uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5005
